Invalid HSTS header

**Describe the bug**

HSTS delta time is sent as:
`strict-transport-security: max-age=31536000, max-age=31536000`
which may depending on the client make the header ignored, the value not applied or otherwise ineffective, being non-compliant with its spec at RFC 6797 Section 6.1 (see [MDN reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Strict-Transport-Security) for context)

**Steps to reproduce**
1. Go to https://securityheaders.com/
2. Perform a scan for https://support.mozilla.org/
3. See the orange results lower for 'Warnings'
4. See error "Strict-Transport-Security: There was a duplicate Strict-Transport-Security header."

**Expected behavior**

`strict-transport-security: max-age=31536000`

**Actual behavior**

`strict-transport-security: max-age=31536000, max-age=31536000`

**Additional context**

In theory such malformed value could be parsed by a client to some meaningful pattern, but in general this format is invalid and might mean this header ignored and its security benefit not applied.

https://datatracker.ietf.org/doc/html/rfc6797#section-6.1 says:

>    2.  All directives MUST appear only once in an STS header field.
>        Directives are either optional or required, as stipulated in
>        their definitions.

>    4.  UAs MUST ignore any STS header field containing directives, or
>        other header field value data, that does not conform to the
>        syntax defined in this specification.